* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 26, 26);
  height: 100vh;
  position: relative;
}

.window-grid {
  /* width: 1280px;
  height: 1280px; */
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(5, 200px);
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.2rem;
  position: relative;
}

.grid-child {
  width: 200px;
  height: 200px;
  /* outline: 1px solid #3ead30; */
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 450px;
  background-color: black;
  border: 1px solid rgb(107, 107, 107);
  color: rgb(220, 218, 218);
  border-radius: 0.2rem;
  line-height: 1.2rem;
  font-family: "Ubuntu Mono", monospace;
  filter: drop-shadow(0 0 5px white);

  p {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }

  a {
    text-decoration: none;
    color: rgb(220, 218, 218);
    font-weight: 700;
    font-size: 1.1rem;
    filter: drop-shadow(10px 5px 2px #28bd37);
  }
}

.window-titlebar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  height: 1.8rem;
  background-color: rgb(51, 49, 49);
  cursor: pointer;
  padding: 0.2rem;
}

.window-img {
  width: 98%;
  height: 250px;
  object-fit: cover;
  filter: drop-shadow(0 0 5px rgb(103, 226, 46));
}

.window-button {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  padding: 8px;
  color: rgb(220, 218, 218);
}

.window-button:hover {
  background-color: rgba(103, 226, 46, 0.5);
  transition: background-color 0.3s;
}

.folder {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(243, 232, 232);
}

.folder-icon {
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.terminal {
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 14px;
  color: rgb(220, 218, 218);
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  border: 1px solid rgb(107, 107, 107);
  background-color: black;
  border-radius: 0.2rem;
  line-height: 1.3rem;
}

.terminal-desc {
  padding: 0.2rem;
}

.terminal-header {
  display: flex;
  justify-content: flex-end;
  align-content: space-evenly;
  align-items: center;
  height: 1.5rem;
  width: auto;
  background-color: rgb(51, 49, 49);
  padding: 0.2rem;
  cursor: pointer;
}

.header-button {
  background-color: transparent;
  padding: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  color: rgb(220, 218, 218);
  transition: background-color 0.3s;
}

.header-button:hover {
  background-color: rgba(205, 0, 0, 0.2);
  border-radius: 5px;
}

.terminal-cli {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  margin-top: 1rem;
  span {
    color: rgb(34, 212, 11);
    .blue-span {
      color: rgb(23, 108, 205);
    }
    .w-span {
      color: rgb(220, 218, 218);
    }
  }
  input,
  textarea {
    color: rgb(220, 218, 218);
    /* font-weight: 500; */
    border: none;
    background-color: transparent;
    outline: none;
    width: 400px;
  }
}

.snowflake {
  position: fixed;
  z-index: 500;
  filter: drop-shadow(0 0 5px white);
  top: 0px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: 5s ease-in-out infinite drift;
}

@keyframes drift {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}
